<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{http_host} ^.*\.bilibili2rss.bid [NC]
RewriteRule ^(.*)$ http://bilibili2rss.bid/$1 [L,R=301]
RewriteRule ^.*(?:anime|id)/(\d+).*$ /index.php?anime=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>