<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{http_host} ^.*\.bilibili2rss.bid [NC]
RewriteRule ^(.*)$ https://bilibili2rss.bid/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]
RewriteRule ^.*id/(\d+).*$ /anime/$1 [L,R=301]
RewriteRule ^.+anime/(\d+).*$ /anime/$1 [L,R=301]
RewriteRule ^anime/(\d+)$ /index.php?anime=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /anime/5800 [L,R=301]
</IfModule>