<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^.*(?:anime|id)/(\d+).*$ /index.php?anime=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>